* {
    margin: 0;
    padding: 0;



}

body {

    background-image: radial-gradient(circle, rgba(250, 157, 201, 0.2) 0%, rgba(253, 226, 226, 0.1) 100%), url(./img/brideOne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color:; */
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: 'Italianno', cursive;
    display: flex;


}

video {
    /* position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    min-width: 105%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2; */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
    height: 70vw;
    /* position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2; */
}


.contenedor {

    max-width: 100%;
    height: 100%;
    /*ancho máximo de la página*/
    margin: 0px auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 0px;
    /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(4, 1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
        "sidebar sidebar sidebar sidebar"
        "contenido contenido contenido contenido"
        "pie pie pie pie";
}

.contenedor>div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 0px;
    border-radius: 0px;
    width: 100%;


}

.contenedor .encabezado {


    min-width: 100%;
    max-height: 100%;

    background-repeat: no-repeat;
    background-color: black;

    grid-area: encabezado;
    height: 100%;
    color: antiquewhite;
    opacity: 50%;
    font-size: 20px;
    display: grid;
    animation-name: shower;
    animation-duration: 10s;
    position: initial;


}



.contenedor .contenido {


    position: relative;
    grid-area: contenido;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    justify-content: center;
    padding: 30px;
    height: 100%;

}

.contenedor .sidebar {


    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    opacity: 50%;
    color: antiquewhite;
    grid-area: sidebar;
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 90%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
}

.sidebar a {
    background: black;
    display: flex;

    color: antiquewhite;
    font-weight: bolder;

    padding: 16px;
 

    text-decoration: none;
    text-align: center;
    float: none;
    border-radius: 2px;


}



.serch-form {
    display: block;
    color: antiquewhite;
    font-weight: bolder;
    font-size: 15px;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    align-content: center;
}

.serch-form.lab {
    border-radius: 8px;


}


label {
    border-radius: 10px;
    

    /* padding-right:10px; */
}

input {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


.boton {
    display: flex;
    font-weight: bolder;
    background-color: black;
    color: white;
    opacity: 50%;
    margin: 0px;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    float: none;

    border-radius: 0px;


}

.boton:hover {
    transform: scale(1.1);
    background-color: rgb(156, 156, 156);
    opacity: 85%;
    color: black;
}

.enviar {
    background: #0a6767;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    opacity: 85%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lab {
    opacity: 85%;
    color: black;
}




.carousel {
    width: 1000px;
    justify-content: center;
    align-content: center;
    margin-left: 215px;
    margin-top: 100px;
}

.titulo1 {
    font-size: 50px;
}

.contenedor .pie {

    background: #454647;

    color: antiquewhite;
    grid-area: pie;
    display: flexbox;

    height: 100%;
    width: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;






}


.encabezado1 {
    font-family: 'italianno', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 25px;
    padding: 5px;


}

.sociales {
    color: antiquewhite;
    padding-left: 10px;
    padding-bottom: 2px;
    margin-left: 10px;
}

.titulo2 {
    padding-left: 10px;
    margin-left: 10px;
}

.media {
    padding-left: 10px;
    align-content: flex-end;
    margin: 10px;
}

.copyright {

    align-content: end;
    text-align: right;
    padding: 10px;
    color: antiquewhite;
    margin-bottom: 20px;
}



.copyright:hover {
    filter: blur(2px);
    transition: 0.2s;
}

#block1 {
    display: block;
}

#block2 {
    display: none
}

#block3 {
    display: none
}

.musica {
    position: end;
}

#ofertas2 {
    display: none;
}

#ofertas1 {
    display: none;
}

/* estilos log in */
.lista{
    list-style-type: none;
    display: block;
}

nav.acceder ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    float: right;
}

nav.acceder #login {
    max-width: 50px;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 600
}

nav.acceder #login-content {
    position: relative;
    top: 26px;
    right: 0;
    z-index: 999;

    padding: 15px;
    border-radius: 5px;
    width: 250px;
    display: none;
}

input#user,
input#pass {

    /* padding: 6px 5px; */
    margin-bottom: 10px;
    width: 240px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

#submit {
    background-color: #076a6c;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #044E6B;
    float: left;
    height: 28px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    font: bold 14px Arial;
    color: #fff;
}

#submit:hover {
    background-color: #044E6B;
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado encabezado "
            "sidebar sidebar sidebar sidebar "
            "contenido contenido contenido contenido"
            "pie pie pie pie";
        display: grid;
        width: 100%;
        justify-content: center;

    }

    video {
        /* position: absolute;
        right: 0;
        bottom: 0;
        min-width: 105%;
        min-height: 100%;
        justify-content: center;

        height: 850px;
        width: 700px;
        margin-left: 40px;

        transform: translateX(calc((100% - 100vw) / 2));
        z-index: -2; */
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 105%;
        min-height: 100%;
        transform: translateX(calc((100% - 100vw) / 2));
        z-index: -2;
        height: 150vw;
    }




    #block1 {
        display: none;

    }

    #block2 {
        display: block;
    }

    #block3 {
        display: none
    }

    .contenedor .encabezado {

        position: relative;
        grid-area: encabezado;
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        background-color: black;
        opacity: 50%;
        justify-content: center;
    }



    .contenedor .contenido {
        grid-area: contenido;
        display: flex;
        height: 100%;
        width: 768px;
        justify-content: center;
        flex-wrap: wrap;


    }

    .contenedor .sidebar {
        display: flex;
        justify-content: center;
        grid-area: sidebar;
        background-color: black;
        opacity: 50%;
        color: antiquewhite;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 90%;
        font-family: 'Poppins', sans-serif;
        font-weight: 900px;
        font-size: 10px;
    }

    .titulo2 {
        padding-left: 25px;
    }

    .sidebar a {
        background: black;
        display: flex;
        opacity: 50%;
        color: antiquewhite;
        font-weight: bolder;
        font-size: 16px;
        padding: 16px;

        text-decoration: none;
        text-align: center;
        float: none;

    }





    .contenedor .pie {

        background: #454647;
        color: antiquewhite;
        grid-area: pie;
        display: inline-block;
        padding: 25px;
        height: 310px;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;

    }

    .media {
        padding-left: 20px;
    }

    .sociales {
        padding-left: 20px;
    }

    #ofertas {
        display: none;
    }

    #ofertas1 {
        display: block;
    }

    .copyright {
        align-items: end;

    }

    .encabezado1 {
        font-family: 'italianno', cursive;
        text-align: center;
        color: antiquewhite;
        font-size: 25px;
        padding: 5px;


    }

    .titulo2 {
        margin-left: 10px;

        color: antiquewhite;
        font-weight: bolder;
    }

    .copyright {

        align-content: end;
        text-align: right;
        padding: 10px;
        color: antiquewhite;
        margin-bottom: 20px;
    }



    .copyright:hover {
        filter: blur(2px);
        transition: 0.2s;
    }

}

@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado encabezado"
            "sidebar sidebar sidebar sidebar"
            "contenido contenido contenido contenido"
            "pie pie pie pie";
        display: grid;






    }


    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 105%;
        min-height: 100%;
        transform: translateX(calc((100% - 100vw) / 2));
        z-index: -2;
        height: 150vw;
        /* position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        height: 100%; */
        /* height: 170vw;
        width: 170vw; */


        transform: translateX(calc((100% - 100vw) / 2));
        z-index: -2;
    }

    iframe {
        width: 100%;
    }


    #block1 {
        display: none;

    }

    #block2 {
        display: none;
    }

    #block3 {
        display: block;
    }

    #ofertas {
        display: none;
    }

    #ofertas1 {
        display: none;
    }

    #ofertas2 {
        display: block;
    }

    .contenedor .encabezado {

        position: relative;
        grid-area: encabezado;
        display: block;
        height: 100px;
        align-items: center;
        align-content: center;
        width: 100%;
        font-size: 30px;

    }



    .contenedor .contenido {
        grid-area: contenido;
        display: block;
        height: 95%;
        width: 100%;

    }

    .contenedor .sidebar {
        display: block;

        grid-area: sidebar;
        background-color:black;
        opacity: 50%;
        color: antiquewhite;
        margin: 0px;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 900px;
    }

    .sidebar a {
        background: grey;
        display: block;
        color: antiquewhite;
        font-weight: bolder;
        margin: 10px;
        padding: 16px;
        opacity: 50%;
        text-decoration: none;
        text-align: center;
        float: none;

    }

    .carousel {
        width: 100%;
        opacity: 50%;
        position: relative;
        margin: 20px;
    }

    .contenedor .pie {

        background: #454647;
        color: antiquewhite;
        grid-area: pie;
        display: block;
        height: 100%;
        width: 100%;
        padding: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;






    }

    .copyright {
        align-items: end;

    }

    .encabezado1 {
        text-align: center;
        font-size: 40px;
        font-weight: lighter;
        padding: 5px;
    }



    .boton {
        display: block;
        font-weight: bolder;
        background-color: black;
        color: black;

        margin: 10px;
        padding: 16px;
        text-decoration: none;
        text-align: center;
        float: none;

        border-radius: 2px;


    }

    .sidebar a:hover {
        transform: scale(1.3);
        background-color: rgb(156, 156, 156);
        opacity: 50%;
        color: black;
    }

}