<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Pais</title>
    <link rel="icon" href="./imágenes/zapatoico.ico">
    <link rel="stylesheet" href="./public/css/estilosmenu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Allura&family=Bebas+Neue&family=Hind:wght@300&family=Italianno&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Allura&family=Bebas+Neue&family=Hind:wght@300&family=Italianno&family=Montserrat:wght@300&family=Poppins:wght@100&display=swap"
        rel="stylesheet">

</head>

<body>
    <h1 class="titulo1">Modificar Pais</h1>


    <!-- Contenedor principal que será controlado por Vue.js. Este contenedor tendrá dos formularios. -->
    <div id="app">
        <!-- Primer formulario: Selector de producto. LLama a la función obtenerProducto cuando se envíe el formulario -->
        <form @submit.prevent="obtenerPais" enctype="multipart/form-data">
            <label for="id">Código:</label>
            <input type="text" id="id" name="id" v-model="id" required><br>
            <button class="menu" type="submit">Modificar Pais</button> <a class="menu" href="./menupaises.html">Menu Paises</a>
        </form>

        <!-- Segundo formulario: se muestra solo si mostrarDatosProducto es verdadero. Llama a la función guardarCambios -->
        <div v-if="mostrarDatosPais">
            <h2>Datos del Pais</h2>
            <form @submit.prevent="guardarCambios"enctype="multipart/form-data" >
               

                <label for="paisModificar">Pais:</label>
                <input type="text" id="paisModificar" v-model="pais" title="paisModificar"
                    placeholder="Ingrese el nuevo pais" required><br>

                <label for="idiomaModificar">Idioma:</label>
                <input type="text"  id="idiomaModificar" title="idiomaModificar"
                    placeholder="ingrese nuevo idioma" v-model="idioma" required><br>

                <label for="atelModificar">Prefijo Tel.:</label>
                <input type="number" id="atelModificar" title="atelModificar"
                    placeholder="ingrese nuevo prefijo" v-model="atel" required><br>

                
            
                <button class="menu" type="submit">Guardar Cambios</button>
                <a class="menu" href="./modificapais.html">Cancelar</a>
            </form>
        </div>
    </div>



    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.prod.js"></script>

    <script>

        //--------PUERTO LOCAL----------
        const URL = "http://127.0.0.1:3000/"

    


        //Vue.createApp para crear nuestra aplicación Vue.
        const app = Vue.createApp({

            //La función data devuelve un objeto que contiene las siguientes propiedades: 
            data() {
                return {
                    id: '',
                    pais: '',
                    idioma: '',
                    atel: '',
                  
                    mostrarDatosPais: false, //mostrarDatosProducto para controlar la visibilidad del formulario de modificación.
                };
            },

            methods: {
                //Se ejecuta cuando se envía el formulario de consulta. En este método, utilizamos fetch para realizar una solicitud GET a la API y obtener los datos del producto correspondiente al código ingresado.
                obtenerPais() {
                    fetch(URL + 'paises/buscarPais/' + this.id)
                    .then(response => {
                            //Si es así, utilizamos response.json() para parsear la respuesta en formato JSON.
                            if (response.ok) {
                                response.json().then(data => this.establecerTabla(data)); //Una vez que la respuesta llega del servidor, se convierte de formato JSON a un objeto JavaScript.
                            } else {
                                //Si la respuesta es un error, lanzamos una excepción para ser "catcheada" más adelante en el catch.
                                throw new Error('Error al obtener los datos del pais.')
                            }
                    })
                    .catch(error => {
                            alert('Código no encontrado.')
                    })
                },

                establecerTabla(data) {
                    
                    this.pais = data.pais;
                    this.idioma = data.idioma;
                    this.atel = data.atel;
                    
                  
                    this.mostrarDatosPais = true;
                },

                
                //Se usa para enviar los datos modificados del producto al servidor.
                guardarCambios() {
                    const formData = new URLSearchParams();
                    formData.append('id', this.id);
                   
                    formData.append('pais', this.pais);
                    formData.append('idioma', this.idioma);
                    formData.append('atel', this.atel);
                   

                    
                    

                    //Utilizamos fetch para realizar una solicitud PUT a la API y guardar los cambios.
                    fetch(URL + 'paises/' + this.id, {
                        method: 'PUT',
                        body: formData, //Dado que formData puede contener archivos, no se utiliza JSON.
                    })
                        .then(response => {
                            //Si la respuesta es exitosa, utilizamos response.json() para parsear la respuesta en formato JSON.

                            if (response.ok) {
                                return response.json()
                            } else {
                                //Si la respuesta es un error, lanzamos una excepción.
                                throw new Error('Error al guardar los cambios del pais.')
                            }
                        })

                        //Respuesta OK, muestra una alerta informando que el producto se agregó correctamente y limpia los campos del formulario para que puedan ser utilizados para un nuevo producto.
                        .then(data => {
                            alert('Pais actualizado correctamente.');
                            this.limpiarFormulario();
                        })

                        // En caso de error, mostramos una alerta con un mensaje de error.
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Error al actualizar el pais.');
                        });
                },

                //Restablece todas las variables relacionadas con el formulario a sus valores iniciales, lo que efectivamente "limpia" el formulario.
                limpiarFormulario() {
                    this.id = '';
                   
                    this.pais = '';
                    this.idioma = '';
                    this.atel = '';
                
                   


                    this.mostrarDatosPais = false;
                }
            }
        });

        //Cuando se llama a app.mount('#app'), Vue busca en el documento HTML un elemento con el id app. Vue entonces toma el control de este elemento y de todo su contenido. Esto significa que Vue puede reaccionar a los cambios en sus datos y actualizar automáticamente el HTML en este elemento. También maneja eventos, como clicks o entradas de formulario, y actualiza los datos según las interacciones del usuario.

        app.mount('#app');
    </script>

</body>

</html>